<!-- /*
    1. Page Careers must have articles about job opportunities
    2. information about companies that are interested in employing alumnis.*
 -->
<section  class="section hero-wrapper">
  <section>
    <div class="container-fluid" id="hero">
        <div>
            <h1 class="hero__h1 pb-2 px-2 fw-bold">Careers</h1>
        </div>
        <div>
            <p class="hero__p px-2 fw-bold">
              Choosing the right career can be a pivotal decision in one's life.</p>
        </div>
    </div>
</section>
</section>
<section id="career_intro" class="section py-2 py-lg-3">
    <div class="container">
        <div class="px-4 py-5 my-5 text-center">
            <h1 class="display-5 fw-bold text-body-emphasis mb-5">Careers</h1>
            <div class="col-lg-12 mx-auto">
              <p class="lead mb-4">Careers in web development offer a dynamic and ever-evolving landscape for tech enthusiasts. As a web developer, you have the power to shape the digital world, creating engaging websites and applications that connect people and businesses. Whether you're a front-end wizard, a back-end genius, or a full-stack magician, this field offers endless opportunities for growth and creativity. Join the ranks of professionals who drive online innovation and revolutionize the way we interact with the internet. If you're ready to code your way to success and embrace a future-driven career, web development is the place to be. Explore the possibilities and build your future with us!</p>
              <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
              </div>
            </div>
          </div>
    </div>
</section>
<section id="carrer_adive_articles" class="section py-2 py-lg-3">
    <div class="container mt-5">
        <div class="row custom-card-row">
          <div class="col-md-6 col-12 col-sm-6 col-lg-4" *ngFor="let article of c_Articles">
            <div class="card h-100">
              <img src="{{ article.img }}" class="card-img-top" alt="{{ article.title }}">
              <div class="card-body d-flex flex-column">
                <h5 class="card-title">{{ article.title }}</h5>
                <p class="card-text flex-fill">{{ article.description }}</p>
                <div class="d-flex justify-content-between align-items-center">
                  <a routerLink="{{ article.id }}" class="btn btn-primary w-50">Go to article</a>
                  <small class="text-body-secondary fw-bold">{{article.date}}</small>
                </div>
                
              </div>
            </div>
          </div>
        </div>
      </div>
</section>
<section id="career_hire " class="section py-2 py-lg-3">
  <div class="container">
      <div class="px-4 py-5 my-5 text-center">
          <h1 class="display-5 fw-bold text-body-emphasis mb-5">Alumni Developers in Demand</h1>
          <div class="col-lg-12 mx-auto">
            <p class="lead mb-4">Are you a recent graduate looking for exciting career opportunities? Look no further! Our "Alumni Developers in Demand" section is dedicated to showcasing companies actively seeking to hire talented alumni developers like you.

              These organizations recognize the value of hiring individuals who have successfully completed a reputable educational program and are eager to apply their skills in real-world settings. By featuring these companies, we aim to bridge the gap between graduates and employers, facilitating a seamless transition into the workforce.
              
              Whether you're a software engineer, web developer, data scientist, or any other technology professional, our Alumni Developers in Demand section provides a curated list of employers who are keen on nurturing your growth and unleashing your potential. Explore these fantastic opportunities, take the first step towards your dream career, and make your alma mater proud. Your journey to success starts here.</p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            </div>
          </div>
        </div>
  </div>
</section>
<section id="career_companies" class="px-3 pb-5">
  <div class="container marketing">
    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4 text-center">
        <img src="../../assets/careers/c1.svg" class="rounded-circle mb-2" width="140" height="140" alt="">
        <!-- <svg class="bd-placeholder-img rounded-circle mb-2" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect></svg> -->
        <h2 class="fw-normal">Holy Devs</h2>
        <p>The Holy Developer possesses divine coding skills, crafting software miracles that transcend ordinary boundaries, advancing technology with a touch of genius.</p>
        <p><a class="btn btn-secondary" href="#">Check Company »</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4 text-center">
        <!-- <svg class="bd-placeholder-img rounded-circle mb-2" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect></svg> -->
        <img src="../../assets/careers/c2.svg" class="rounded-circle mb-2" width="140" height="140" alt="">

        <h2 class="fw-normal">Tablettor Gmbh</h2>
        <p>Our company excels in crafting tablet apps, transforming ideas into user-friendly and engaging software, tailored to leverage the full tablet potential.</p>
        <p><a class="btn btn-secondary" href="#">Check Company »</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4 text-center">
        <!-- <svg class="bd-placeholder-img rounded-circle mb-2" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect></svg> -->
        <img src="../../assets/careers/c3.svg" class="rounded-circle mb-2" width="140" height="140" alt="">

        <h2 class="fw-normal">First Dev People</h2>
        <p>
          First Dev People GmbH pioneers tech solutions, bridging innovation and excellence with a talented team dedicated to shaping the digital future.</p>
        <p><a class="btn btn-secondary" href="#">Check Company »</a></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->

  </div>
</section>


