<footer class="footer">
    <div class="footer__container container grid">
        <ul class="footer__links">
            <li><a (click)="scrollToTop()" routerLink="/alumni" class="footer__link">Alumni</a></li>
            <li><a (click)="scrollToTop()" routerLink="/careers" class="footer__link">Careers</a></li>
            <li><a (click)="scrollToTop()" routerLink="/events" class="footer__link">Events</a></li>
            <li><a (click)="scrollToTop()" routerLink="/stories" class="footer__link">Stories</a></li>
        </ul>
        <span class="footer__copy">
            &#169; <a href="">Group2 | @ Codefactory</a>
        </span>
    </div>
</footer>