@use '../../config/_colors.sass'
@use '../../config/_font.sass'
#navbarNavAltMarkup
    justify-content: flex-end
.navbar-toggler
    outline: none !important
    border: none !important
.navbar-toggler:focus
    box-shadow: none !important
.navbar
    
    background-color: colors.$white !important
    padding: 15px 0
    max-width: 98%
    position: absolute
    top: 15px
    left: 0
    z-index: 3
    width: 100%
    left: 50%
    transform: translateX(-50%)
    box-shadow: 0px 8px 15px rgba(0,0,0,0.3)
    border-radius: 5px
.nav-link
    color: colors.$dark
    text-transform: uppercase
    letter-spacing: 2px
    font-weight: 400
    