<nav class="navbar navbar-expand-lg navbar-light bg-light px-2 px-lg-5">
    <div class="container-fluid">
        <div class="d-flex align-items-center">
            <a class="navbar-brand" (click)="scrollToTop()" routerLink="**">
                <img width="48" height="48" src="https://img.icons8.com/color/48/student-female.png" alt="student-female"/>
            </a>
            <span class="fw-bold"> CodeFactory | Alumni</span>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" (click)="scrollToTop()" routerLink="/alumni">Alumni</a>
                <a class="nav-link" (click)="scrollToTop()" routerLink="/careers">Careers</a>
                <a class="nav-link" (click)="scrollToTop()" routerLink="/events">Events</a>
                <a class="nav-link" (click)="scrollToTop()" routerLink="/stories">Stories</a>
            </div>
        </div>
    </div>
</nav>