<section>
    <div class="container-fluid" id="hero" style="background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),  url({{card.img}})">
            <div><h1 class="hero__h1 pb-2 px-2 fw-bold">{{ card.name }}</h1></div>
            <div><p class="hero__p px-2 fw-bold">{{ card.course }}</p></div>
    </div>
</section>
<section class="detail">
    <div class="container "> 
        <div class="row gap-0 card-body justify-content-center align-items-center">
                <div class="col-lg-4 col-md-4 col-sm-12 col-sx-12">
                    <img src="{{card.img}}" alt="" class="card-img">
                </div>
                <div class="col-lg-8 col-md-8 col-sm-12 col-sx-12">
                    <h2 class="card-label">{{ card.name }}</h2>
                    <p class="card-label">{{ card.description }}</p>
                    <hr>
                    <p class="card-label">{{card.course}}</p>
                </div>
        </div>
    </div>  
</section>