
<section  class="section hero-wrapper">
    <div class="container-fluid" id="hero" style="background-image: url('{{article.img}}');">
        <div><h1 class="hero__h1 pb-2 px-2 fw-bold">{{ article.title }}</h1></div>
        <div><p class="hero__p px-2 fw-bold">{{ article.content }}</p></div>
    </div>
</section>

<section>
    <div class="container p-2 p-lg-5 text-center">
        <div *ngIf="article">
            <!-- <img class="img-thumbnail" src={{article.img}} alt={{article.title}}> -->
            <h3>{{ article.title }}</h3>
            <p><small class="fw-bold">created: {{ article.date}}</small></p>
            <p>{{ article.content }}</p>
            <a routerLink="/careers" class="btn btn-primary mt-5" (click)="scrollToTop()">Back</a>
        </div>
    </div>
</section>

