/* You can add global styles to this file, and also import other style files */

@use './config/_colors.sass'
@use './config/_font.sass'

*
    font-family: 'Lato',sans-serif
    box-sizing: border-box


.btn, .btn-primary, .btns
    background: colors.$main-color !important
    border-radius: 25px
    border: none
    color: white !important

    &:hover
        background: colors.$semi-dark !important


#hero
    height: calc( 60dvh + 100px ) !important

    @media screen and (max-width: 568px)
        height: calc( 50dvh + 100px ) !important

        .hero__p
            text-align: center
            max-width: 80%
            margin: 0 auto


//   &::before
//     content: ""
//     display: block
//     position: absolute
//     top: 0
//     left: 0
//     width: 100%
//     height: 100%
//     z-index: 1
//     background: li