<section style="position: relative; z-index: 2;">
  <div class="container-fluid" id="hero">
    <div><h1 class="hero__h1 pb-2 px-2 fw-bold">Welcome to Alumni!</h1></div>
    <div>
      <p class="hero__p px-2 fw-bold">
        Manuel, Bruno, Lukas, Mostafa, Jas and Moma are welcoming You!
      </p>
    </div>
  </div>
</section>

<div class="container">
  <div class="px-4 pt-5 my-5 text-center border-bottom">
    <h1 class="display-4 fw-bold text-body-emphasis">Welcome</h1>
    <div class="col-lg-6 mx-auto w-75">
      <p class="lead mb-4">
        "Welcome to Code Factory! Here, we embark on a transformative journey
        through the world of technology. Our mission is to empower you with
        cutting-edge knowledge, hands-on skills, and a thriving IT community.
        Get ready to explore, learn, and shape your future in the dynamic realm
        of Information Technology!"
      </p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5"></div>
    </div>
    <div class="overflow-hidden" style="max-height: 30vh">
      <div class="welcome-img container px-5">
        <img
          src="../../assets/img/image8.jpeg"
          class="img-fluid border rounded-3 shadow-lg mb-3"
          alt="Example image"
          width="1000"
          height="600"
          loading="lazy"
        />
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img
        src="../../assets/img/image2.jpeg"
        class="d-block mx-lg-auto img-fluid"
        alt="Bootstrap Themes"
        width="700"
        height="500"
        loading="lazy"
      />
    </div>

    <div class="col-lg-6">
      <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Events</h1>
      <p class="lead">
        Events in an IT course are vital for knowledge acquisition and
        networking. They encompass lectures, workshops, and seminars on diverse
        topics, keeping students updated with the latest tech trends. Hackathons
        and coding contests foster hands-on experience, and guest speakers bring
        industry insights. These events enhance skills, boost collaboration, and
        prepare students for a successful IT career.
      </p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <button
          routerLink="events"
          type="button"
          class="btn btn-primary btn-lg px-4 me-md-2"
          (click)="scrollToTop()"
        >
          Events
        </button>
      </div>
    </div>
  </div>
</div>

<div container>
  <div class="story row flex-lg-row align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img
        src="../../assets/img/image7.jpeg"
        class="d-block mx-lg-auto img-fluid"
        alt="Bootstrap Themes"
        width="700"
        height="500"
        loading="lazy"
      />
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Stories</h1>
      <p class="lead">
        In an IT academy, stories abound, each reflecting the diverse journeys
        of aspiring tech professionals. These narratives are filled with
        challenges conquered, innovations brought to life, and a shared passion
        for all things tech. They serve as a source of inspiration, offering
        glimpses into the ever-evolving landscape of Information Technology.
      </p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <button
          routerLink="/stories"
          (click)="scrollToTop()"
          type="button"
          class="btn btn-primary btn-lg px-4 me-md-2"
        >
          Stories
        </button>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img
        src="../../assets/img/image2.jpeg"
        class="d-block mx-lg-auto img-fluid"
        alt="Bootstrap Themes"
        width="700"
        height="500"
        loading="lazy"
      />
    </div>

    <div class="col-lg-6">
      <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Alumni</h1>
      <p class="lead">
        Being an alumni offers numerous benefits, including networking opportunities, access to resources, and a sense of belonging to a community. Alumni often receive exclusive job offers, mentorship, and invitations to events. They can also give back through donations, sharing expertise, and supporting future generations. Alumni status fosters lifelong connections and personal growth.
      </p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <button
          routerLink="alumni"
          type="button"
          class="btn btn-primary btn-lg px-4 me-md-2"
          (click)="scrollToTop()"
        >
          Alumni
        </button>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="px-4 pt-5 my-5 text-center border-bottom">
    <h1 class="display-4 fw-bold text-body-emphasis">Careers</h1>
    <div class="col-lg-6 mx-auto w-75">
      <p class="lead mb-4">
        A career in IT offers exciting opportunities in the ever-evolving world
        of technology. IT professionals design, develop, and manage digital
        systems, ensuring the smooth operation of businesses and organizations.
        They work in areas like software development, cybersecurity, data
        analysis, and network administration, contributing to innovation and
        efficiency. IT careers often involve continuous learning,
        problem-solving, and adapting to emerging technologies, making it a
        dynamic and rewarding field for those with a passion for tech.
      </p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
        <button
          routerLink="/careers"
          (click)="scrollToTop()"
          type="button"
          class="btn btn-primary btn-lg px-4 me-sm-3"
        >
          Careers
        </button>
      </div>
    </div>
    <div class="overflow-hidden" style="max-height: 30vh">
      <div class="careers-img container px-5">
        <img
          src="../../assets/img/image5.jpeg"
          class="img-fluid border shadow-lg mb-4"
          alt="Example image"
          width="900"
          height="700"
          loading="lazy"
        />
      </div>
    </div>
  </div>
</div>
